<!DOCTYPE html>
<html class="h-full antialiased" lang="en">
  <head>
    <!-- TODO: Include feed tags -->
    <title>Home</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
    <div className="fixed inset-0 flex justify-center sm:px-8">
      <div className="flex w-full max-w-7xl lg:px-8">
        <div className="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
      </div>
    </div>
    <div class="relative">
      <!-- TODO: Include header view component -->
      <main>
        <%= yield %>
      </main>
      <!-- TODO: Include footer view component -->
    </div>
  </body>
</html>
